<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>top</servlet-name>
        <servlet-class>base.top</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serch</servlet-name>
        <servlet-class>base.serch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rogin</servlet-name>
        <servlet-class>base.rogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataDAO</servlet-name>
        <servlet-class>base.UserDataDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>base.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDetail</servlet-name>
        <servlet-class>base.ItemDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>base.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>base.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>base.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>base.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>base.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationconfirm</servlet-name>
        <servlet-class>base.registrationconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationcomplete</servlet-name>
        <servlet-class>base.registrationcomplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>top</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serch</servlet-name>
        <url-pattern>/serch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rogin</servlet-name>
        <url-pattern>/rogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataDAO</servlet-name>
        <url-pattern>/UserDataDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDetail</servlet-name>
        <url-pattern>/ItemDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationconfirm</servlet-name>
        <url-pattern>/registrationconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationcomplete</servlet-name>
        <url-pattern>/registrationcomplete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
